{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="unititled">
	<meta name="keywords" content="HTML5 Crowdfunding Profile Template">
	<meta name="author" content="Audain Designs">
	<link rel="shortcut icon" href="favicon.ico">  
	<title>Bootcamp &mdash; Project</title>

	<!-- Gobal CSS -->
	<link href="{% static 'bcmp/assets/css/bootstrap.min.css' %}" rel="stylesheet">
	
	<!-- Template CSS -->
	<link href="{% static 'bcmp/assets/css/style.css' %}" rel="stylesheet">

	<!--Fonts-->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-12345678-9', 'auto');
		ga('send', 'pageview');

	</script>
</head>
<body>
	<!--header-->
	<header class="header">
		
	</header>
	<!--/header-->
	<!--main content-->
	<div class="main-content">
		<div class="container">
			<div class="row">
				<div class="content col-md-8 col-sm-12 col-xs-12">
					{% for post in posts %}
					<div class="section-block">
						
						<div class="funding-meta" class="col-md-9">
							<span class="type-meta"><a href="#">Published {{ post.publish }} by {{ post.author }}<i class="lnr lnr-user"></i></a></span>
							<span class="type-meta"><i class="fa fa-tag"></i> <a href="#">Bootcamp</a> </span>
							<div >
								<a href="{{ post.get_absolute_url }}"><img src="{{ post.post_logo.url }}" width="600" height="400" frameborder="0"></a>
							</div>
							<a href="{{ post.get_absolute_url }}">
                             <h2>{{ post.title }}</h2>
                            </a>
							<p>{{ post.content|truncatewords:18|linebreaks }}</p>
														
							<span class="goal-progress"><a href="{{ post.get_absolute_url }}">{{ post.comments.count }} Comments<i class="lnr lnr-bubble"></i>
						</div>
						<span class="count-down">{{ post.created_on|timesince }}.</span>
						<a href="{{ post.get_absolute_url }}" class="btn btn-launch">lire plus</a>
						
					</div>
					{% endfor %}
					<nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    {% if posts.has_previous %}
                                    <a href="?page={{ posts.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            Precedente
                                        </span>
                                    </a>
                                    {% endif %}
                                </li>
                                <li class="page-item"><a href="?page=1" class="page-link">01</a></li>
                                <li class="page-item"><a href="?page=2" class="page-link">02</a></li>
                                <li class="page-item"><a href="?page=3" class="page-link">03</a></li>
                                <li class="page-item"><a href="?page=4" class="page-link">04</a></li>
                                <li class="page-item"><a href="?page=9" class="page-link">09</a></li>
                                <li class="page-item">
                                    {% if posts.has_next %}
                                    <a href="?page={{ posts.next_page_number }}" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            suivante
                                        </span>
                                    </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
					<!--tab panes-->
				</div>
				<!--/tabs-->
				<!--/main content-->
				<!--sidebar-->
				<div class="content col-md-4 col-sm-12 col-xs-12">
					<!--credits-->
					<div class="section-block">
						<h1 class="section-title">Archivres</h1>
						<!--credits block-->
						<div class="credit-block sources">
							<ul class="list-unstyled">
								<li><a href="http://getbootstrap.com/"><i class="fa fa-external-link"></i>Bootstrap</a></li>
								<li><a href="http://fortawesome.github.io/Font-Awesome/"><i class="fa fa-external-link"></i>FontAwesome</a></li>
								<li><a href="https://www.google.com/fonts"><i class="fa fa-external-link"></i>Google Fonts</a></li>
								<li><a href="http://jquery.com/"><i class="fa fa-external-link"></i>jQuery</a></li>
								<li><a href="http://uifaces.com/"><i class="fa fa-external-link"></i>Glasses Image</a></li>
							</ul>
						</div>
						<!--/credits block-->
					</div>
					<!--/credits-->
				</div>
				<!--/sidebar-->
			</div>
		</div>
	</div>
	<footer class="footer">
	<div class="container">
			<div class="row">
				<span class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="" target="_blank">Stanley</a> by <a href="" target="_blank">DOCTYPE_CODERS</a></span>
			</div>
		</div>
	</footer>
	
	<!-- Global jQuery -->
	<script type="text/javascript" src="{% static 'bcmp/assets/js/jquery-1.12.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bcmp/assets/js/bootstrap.min.js' %}"></script>
	
	<!-- Template JS -->
	<script type="text/javascript" src="{% static 'bcmp/assets/js/main.js' %}"></script>
</body>
</html>
